---
---
@import "{{ site.theme }}";

// these blurbs are tacky and confuse end users
.creds {
  display: none !important;
}

footer {
  margin-bottom: 0;
  padding-bottom: 0;
}

p.tagline {
  padding: 10px 0 0 20px;
  font-size: 1.4em;
  font-weight: bold;
}

a {
  color: #2D39D9;
}

a:hover {
  color: #505AE7;
}

.download-bar a.code, .owner a {
  color: #8AFF24;
  font-weight: bold;
}

.download-bar a.code:hover, .owner a:hover {
  color: #8EC55E;
  font-weight: bold;
}

.markdown-body h2 {
  color: #004F9E;
}
