name: CI/CD

on:
  push:
    branches: ["*"]

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:

      - name: Clone Repo
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: sudo apt-get update; sudo apt-get install -y texlive-latex-base texlive-latex-recommended texlive-latex-extra texlive-fonts-extra

      - name: Build Release
        run: make release-v0.0.0.tgz

      - name: Build Site
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./
          destination: ./_site
